/* font import */
/* font-family: "Montserrat", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    height: 100dvh;
}

html.carrerHtml {
    height: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100dvh;
}
body.careerBody {
    height: auto;
}
header {
    background-color: rgb(51, 80, 154);
    color: white;
    padding: 2rem;
    box-shadow: 0px 9px 37px -8px rgba(0, 0, 0, 0.6);
    height: 10%;
}

footer {
    height: 10%;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 80%;
}

h2.careerH2 {
    align-items: center;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    margin-left: 10%;
    font-size: 2rem;
    height: 15%;
    margin: 3rem;
}

main.careerMain {
    align-items: flex-start;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

form.careerForm {
    display: flex;
    flex-flow: row wrap;
    height: 60%;
    width: 80%;
    margin: auto 0;
    justify-content: space-between;
}

.careerContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    height: 100%;

}

.careerContent>div {
    display: flex;
    align-self: center;
    width: 30%;
    font-size: 1.2rem;
    margin-bottom: .5rem;

}

.content {
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

ul {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

ul img {
    width: fit-content;
    height: 7rem;

}

.step {
    height: 100%;
    width: 100%;
    background-color: rgb(238, 246, 255);
    border: 1px black solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.loadBar {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.circle {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(6, 53, 144);
    box-shadow: 0px 9px 19px -8px rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
}

a.noIn {
    background-color: #4474D2;
}

.barOne {
    display: block;
    width: 70%;
    margin-left: 2rem;
    height: 1.5rem;
    content: "";
    border-radius: 2rem;
    background-color: red;
}

.left {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    padding: 2rem;
    width: 49%;
    align-content: flex-start;
}

.step::after {
    order: 2;
    content: "";
    width: 1.5px;
    background-color: black;
    height: 85%;
}

.left h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

.leftContent {
    width:100%;
    height: 80%;
}

.leftContent label,
input {
    font-size: 1.2rem;
}

.leftContent form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: .5rem 0;
}

#totalTaxes {
    flex-grow: 0;
    width: 3rem;
    text-align: center;
}

#taxes {
    width: 100%;

}

.leftContent form div p {
    margin-left: 1rem;
    width: 100%;
    flex-grow: 1;
}

.leftContent form input {
    border-radius: 1rem;
    padding: 0.3rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.right {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 49%;
    order: 3;

}

.right h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.rNumbers,
.rTitles {
    width: 30%;
}

.rNumbers p {
    margin: 2rem 0;
    text-align: right;
    font-size: 1.2rem;
}

.rTitle p {
    margin: 2rem 0;
    font-size: 1.2rem;
}

.leftOver {
    background-color: #008000;
    width: 100%;
    height: 4.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.leftOver p {
    width: 100%;
    text-align: center;
}

progress {
    border-radius: 20%;
    height: 1rem;
    margin-left: 1rem;
    flex-grow: 1;
}

progress::-webkit-progress-bar {
    background-color: #ACC4F4;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #2B62CC;
    border-radius: 7px;
}

.buttons {
    height: 10%;
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.careerButtons {
    height: 20%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
}

#careerOptions {
    background-color: #4C78E8;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0 12.5%;
    text-align: center;
    height: 3rem;
    text-decoration: none;
}

#nextButton,
#backButton {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 70%;
    text-decoration: none;
}

#careerBackButton,
#careerNextButton {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;
    padding: 1.3rem 0;
    text-decoration: none;
}

#nextButton {
    background-color: #4C78E8;
    color: #FFFFFF;
}

#backButton {
    background-color: #FFFFFF;
    color: #4C78E8;
}

#nextButton:hover {
    background-color: #FFFFFF;
    color: #4C78E8;
}

#backButton:hover {
    background-color: #4C78E8;
    color: #FFFFFF;
}

#careerNextButton {
    background-color: #4C78E8;
    color: #FFFFFF;
}

#careerBackButton {
    background-color: #FFFFFF;
    color: #4C78E8;
}

#careerNextButton:hover {
    background-color: #FFFFFF;
    color: #4C78E8;
}

#careerBackButton:hover {
    background-color: #4C78E8;
    color: #FFFFFF;
}

footer {
    background-color: #160053;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 1.5rem;
}
footer.careerFooter {
    padding: 1rem;
}
.displayNone {
    display: none;
}

.displayNoneflex {
    display: flex;
}


@media screen and (max-width: 600px) {
    .careerContent div {
        width: 100%;
        margin-bottom: .5rem;
        font-size: 1rem;
    }
    #careerBackButton,
    #careerNextButton {
    width: 40%;
    height: 40%;
}
h2.careerH2{
    font-size: 1.5rem;
}

}